# Patterns of intentionally untracked files that Git should ignore

# Direnv and Devenv
.direnv
.devenv*
devenv.local.nix

# Roc nightly build
roc-dir/

# Inputs and build
day??
day??.input

# Private files
SECRET

# IDE settings
.vscode/
