# Patterns of intentionally untracked files that Git should ignore

.task/
SECRET

# Direnv and Devenv
.direnv
.devenv*
devenv.local.nix

# Roc nightly build and Roc source dir (if you use Roc language server)
roc_nightly-linux_x86_64-*
roc/

# Build
main

# IDE settins
.vscode/
